<h1>New Survey</h1>
<% if @survey.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @survey.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= form_for @survey, :html => {:class => "form-control"} do |f| %>
  <div class="form-group">
    <%= f.label :topic %>
      <div class="col-md-1">
        <%= f.text_field :topic, class: "form-control" %>
        <%= f.submit "Submit", class: "btn btn-danger" %>
      </div>
  </div>
<% end %>